.cardRight {
  margin: 0 right;
  max-width: 300px;
}
.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: center;  
}
.cardright__img {
  margin-right: 10px;
  border-radius: 50%;
}
